<h1>Add View</h1>


<div class="card mb-3">
    <div class="card-header">
        {{adds.Category}}
    </div>

    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h1 class="card-title">{{adds.title}}</h1>
        <p class="card-text">Seller: {{adds.name}}</p>
        <hr>
        <h3 class="card-text" id="card-price">Rs: {{adds.price}}</h3>

        <h3 class="card-text">{{adds.AdDescription}}<h3>
        <h3 class="card-text"> Call: {{adds.number}}</h3>
        <h3 class="card-text"> {{adds.city}}</h3>



        <p class="card-text"><small class="text-muted">Posted On {{adds.date}}</small></p>
    </div>
</div>